.container {
    border: 1px solid black;
    width: 400px;
    height: 250px;
    margin: 0 auto;
    position: relative;
}
.title {
    width: auto;
    height: -1px;
    
    color: black;
    text-align: center;
}
a {
    position: absolute;
    left: 3px;
    bottom: 60px;
    z-index: 1;
    text-decoration: none;
    color: black;
    background-color: #efefef;
        font-size: 20px;
    border:1px solid gray;
}
